<ion-content class="login">

  <div class="bg">
  <div class="container">
    <ion-item>
      <div class="btn " style="    margin: 0 auto;
      ">
        <img width="250" src="assets/Logo.png" alt="Logo">
      </div>
    </ion-item>
    <br>
    <br>
    <ion-item  class="input">
      <ion-icon name="person"></ion-icon>
      &nbsp;
      &nbsp;
      <ion-input name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <br>
    <ion-item class="input">
      <img src="https://img.icons8.com/material-outlined/24/000000/password.png"/>
      &nbsp;
      &nbsp;
      <ion-input name="password" placeholder="Password" type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>
    <br>
    <div class="btn">
      <ion-button (click)="login()">Log In</ion-button>
    </div>
    <br>
  </div>

</div>

</ion-content>
