.whatapp-link{
    position: relative;
    color:#25D366 ;
}
.call-link{
    position: relative;
    color:#427deb ;
}


ion-fab-list {
    margin-left: -20px;margin-bottom: 100px;
}


ion-fab-button {
    height: 100px;

width: 100px;}


ion-fab-button a {
    font-size: 50px;
    margin-top: 10px;
}