<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <ion-searchbar #searchbar animated (keyup)="handleInput(searchbar.value)"></ion-searchbar> -->
  <br>
  <div class="dashbaordlist">
    <div class="pending" (click)="onPending()">
      <ion-label>Pending</ion-label>
      {{pendingCount}}
    </div>
    <div class="delivered" (click)="onDeliver()">
      <ion-label>Delivered</ion-label>
      {{deliveredCount}}
    </div>
    <div class="cod">
      <ion-label>COD</ion-label>
      {{codAmount}}
    </div>
  </div>
</ion-content>